<div class="loginSingIn">

    <div class="container">

        <div class="row justify-content-left">

            <div class="col-md-5 logInCss">
                <img class="logo" src="../../images/logo vertical-01.png" alt="no funciona">
                <form action="/auth/sign-in" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                {{#if errorMsg}}
                <p id="errorMessage">{{errorMsg}}</p>
                {{/if}}
                <p>¿Ya estás registrad@? <a style="color:rgb(206, 255, 27)" href="/auth/login">Inicia sesión</a></p>

            </div>

        </div>

    </div>
</div>