
body {
  font-weight: 200;
  font-family: 'Ubuntu', sans-serif;
  
}

h1, h2, h3 {
  font-weight: 200;
}

/*MAPA GOOGLE*/

#myMap {
  height: 500px;
  width: 100%;
}

.loginSingIn{
  height: 100vh;
  width: 100%;
  color:rgb(255, 255, 255);
  background-image: url(.././images/fondo-login.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: grey;

}

.backgroundCssBlue{
    background-image: url(.././images/fondo-form.jpg);
    height: 100vh;
  width: 100%;
  background-size: cover;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: grey;

}
.favsCss{
margin-top: 30px;
color: rgb(36, 36, 36);  
}

.logoNav{
  width: 20px;
}

.logo{
  margin-top: 5px;
  align-items: center;
  width: 200px;
  align-items: center;
}

.logInCss{
  margin-left: 5%;
  margin-top: 120px;
}
.backgroundColor{
   background-color: #eee;
   border: 0;
}

.event{
    color: rgb(36, 36, 36);
    padding-top: 30px;
}
.newEventCss{
    color: rgb(36, 36, 36);
    margin-top: 30px;
}

/*TARJETAS DE ESTACIONES*/

.container-fluid,
.container {
    
    max-width: 1200px;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.profile-card-1 {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-image: url(../img/profile-bg-1.jpg);
    background-position: center;
    padding-top: 100px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    max-width: 300px;
}

.profile-card-1 .profile-content {
    position: relative;
  
    padding: 70px 20px 20px 20px;
    text-align: center;
}

.profile-card-1 .profile-img {
    position: absolute;
    height: 100px;
    left: 0px;
    right: 0px;
    z-index: 10;
    top: -50px;
    transition: all 0.25s linear;
    transform-style: preserve-3d;
}

.profile-card-1 .profile-img img {
    height: 100px;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/*TARJETAS ESTACIÓN*/

a,
a:hover,
a:focus {
    color: inherit;
}

body {
    background-color: #F1F2F3;
}

.eventImg{
width: 100%;
}

.container {
    max-width: 1200px;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.profile-card-6 {
    max-width: 350px;
     max-height: 130px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    transition: all 0.15s linear;
}

.profile-card-6 .profile-name {
  text-align: left;  
  position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}

.card-comment {
    border: solid 1px rgba(128, 128, 128, 0.384) ;
    border-radius: 3px;
    padding: 40px;
}

.card img {
    
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.comment-btns button {
    margin: 10px;
}
